body {
    font-family: Arial, sans-serif;
}
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
   /* Reduced font size */
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 2px solid;
   /* Reduced border thickness */
    padding: 0.1em 0.2em;
   /* Further reduced padding */
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 2px;
   /* Further reduced active state position */
    left: 2px;
   /* Further reduced active state position */
}
@media (min-width: 768px) {
    .button-54 {
        padding: 0.1em 0.3em;
       /* Adjusted padding values for larger screens */
   }
}
